.container1 {
    width: 100vw;
    height: 10vh;
    position: absolute;
}

.skull {
  width: 10vw;
  position: relative;
  top: -63.5%;
  left: 45.2%;
}

.mainbody {
  width: 34vw;
  position: relative;
  top: 18.5%;
  left: 11.54%;
  z-index: -1;
}

.it {
  position: relative;
  width: 11vw;
  top: -62.4%;
  left: 33.56%;
  visibility: hidden;
}

.legs {
  width: 12vw;
  position: relative;
  top: 75.3%;
  left: -12.8%;
  z-index: -3;
}

.bowlegs {
  width: 12vw;
  position: relative;
  left: 44.7%;
  bottom: -382px;
  padding-bottom: 5%;
  visibility: hidden;
}
.hidden {
  position: absolute;
}

.ostp {
  height: 50vw;
  width: 25vw;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 70%;
  top: -150%;
}


#skinfo {
  display: none; /* shown by scripts */
  position: fixed; /* fixed to the viewport so they remain at the left */
  top: 15rem;
  left: 1.5rem; /* small gutter from the viewport edge */
  width: 20vw;
  min-width: 200px;
  max-width: 300px;
  padding: 16px;
  color: rgb(62, 125, 104);
  background-color: rgba(134, 241, 179, 0.95);
  border: rgb(62, 125, 104) solid 2px;
  border-radius: 10px;
  text-align: left;
  z-index: 60;
}

/*
#skinfo {
  display: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 25px;
  color: rgb(62, 125, 104);
  width: 30%;
  position:relative;
  top:-120vw;
  left: 2vw;
  background-color: rgba(134, 241, 179, 0.5);
  border: rgb(62, 125, 104) solid 2px;
  border-radius: 10%;
}*/

.larm {
  width: 9vw;
  position: relative;
  top: 243.5%;
  left: 36%;
}

.rarm {
  width: 8.5vw;
  position: relative;
  top: 143%;
  left: 55%;
}
.left {
  float: left; 
  position: relative;
}
.right {
  float: right;
  position: relative;
}