.container1 {
    width: 100vw;
    height: 10vh;
    position: absolute;
}

.head {
  width: 10vw;
  position: relative;
  top: 5%;
  left: 45%;
}

.mainb {
  width: 10vw;
  position: relative;
  top: 5%;
  left: 45%;
}

.badteeth {
  width: 10vw;
  position: relative;
  top: 31.5px;
  left: 45.7%;
  visibility: hidden;
}

.bhalf {
  width: 12vw;
  position: relative;
  top: 5%;
  left: 44%;
  visibility: visible;
}

.bowlegs {
  width: 12vw;
  position: relative;
  left: 44.7%;
  bottom: -382px;
  padding-bottom: 5%;
  visibility: hidden;
}

.ostp {
  height: 50vw;
  width: 25vw;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 70%;
  top: -150%;
}


#skinfo {
  display: none; /* shown by scripts */
  position: fixed; /* fixed to the viewport so they remain at the left */
  left: 1.5rem; /* small gutter from the viewport edge */
  width: 16vw;
  min-width: 200px;
  max-width: 300px;
  padding: 16px;
  color: rgb(62, 125, 104);
  background-color: rgba(134, 241, 179, 0.95);
  border: rgb(62, 125, 104) solid 2px;
  border-radius: 10px;
  text-align: left;
  z-index: 60;
}

.larm {
  width: 9vw;
  position: relative;
  top: 243.5%;
  left: 36%;
}

.rarm {
  width: 8.5vw;
  position: relative;
  top: 143%;
  left: 55%;
}
.left {
  float: left; 
  position: relative;
}
.right {
  float: right;
  position: relative;
}