.container1 {
    width: 100vw;
    height: 10vh;
    position: absolute;
}

.skull {
  width: 10vw;
  position: relative;
  top: -62.7%;
  left: 45.36%;
}

.mainbody {
  width: 34vw;
  position: relative;
  top: 17%;
  left: 11.75%;
  z-index: -1;
}

.it {
  position: relative;
  width: 11vw;
  top: -62.4%;
  left: 33.56%;
  visibility: hidden;
}

.legs {
  width: 12vw;
  position: relative;
  top: 73%;
  left: -12.6%;
  z-index: 0;
}

.bowlegs {
  width: 12.9vw;
  position: relative;
  left: -25.3%;
  top: 75.5%;
  visibility: hidden;
}

.muscle {
  width: 40vw;
  position: relative;
  left: 30%;
  top: -123%;
  visibility: hidden;
}


.ostp {
  position: relative;
  height: 50vw;
  width: 25vw;
  background-color: black;
  border-radius: 50%;
  float: right;
  left: 38%;
  top: -600%;
  visibility: hidden;
}


#skinfo {
  display: none; /* shown by scripts */
  position: fixed; /* fixed to the viewport so they remain at the left */
  top: 20rem;
  left: 1.5rem; /* small gutter from the viewport edge */
  width: 18vw;
  min-width: 300px;
  max-width: 400px;
  padding: 16px;
  color: rgb(62, 125, 104);
  background-color: rgba(134, 241, 179, 0.95);
  border: rgb(62, 125, 104) solid 2px;
  border-radius: 10px;
  text-align: left;
  z-index: 100;
}

/*
#skinfo {
  display: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 25px;
  color: rgb(62, 125, 104);
  width: 30%;
  position:relative;
  top:-120vw;
  left: 2vw;
  background-color: rgba(134, 241, 179, 0.5);
  border: rgb(62, 125, 104) solid 2px;
  border-radius: 10%;
}*/

