.badteeth {
  width: 10vw;
  position: relative;
  bottom: 107px;
  left: 45.7%;
  visibility: hidden;
}

.bhalf {
  width: 12vw;
  position: relative;
  bottom: 110.6%;
  left: 44.8%;
  padding-bottom: 5%;
}

.bowlegs {
  width: 12vw;
  position: relative;
  left: -25.3%;
  top: 75.5%;
  visibility: hidden;
}

.muscle {
  width: 45vw;
  position: relative;
  left: 28%;
  top: -75%;
  visibility: hidden;
}


.head {
  width: 12vw;
  position: relative;
  height: 50vw;
  width: 25vw;
  background-color: black;
  border-radius: 50%;
  float: right;
  left: 38%;
  top: -600%;
  visibility: hidden;
}


#skinfo {
  display: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 25px;
  color: rgb(62, 125, 104);
  width: 23%;
  position:relative;
  top:-170vw;
  left: 11vw;
  background-color: rgba(134, 241, 179, 0.5);
  border: rgb(62, 125, 104) solid 2px;
  border-radius: 10%;
}

.mainb {
  width: 12vw;
  position: relative;
  bottom: 16%;
  left: 45%;
}
.larm {
  width: 9vw;
  position: relative;
  bottom: 92%;
  left: 36%;
}

.rarm {
  width: 9vw;
  position: relative;
  bottom: 44%;
  left: 57%;
}
.muscles {
  width: 48vw;
  position: absolute;
  bottom: -72%;
  left: 29.5%;
  visibility: hidden;
}




.reset-button {
  width: 100%;
  margin-top: 10px;
  padding: 12px 15px;
  background-color: rgba(1, 128, 105, 0.521);
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}