/* Lung positioning styles */
.container1 {
  position: relative;
  min-height: 100vh;
}

.lung {
  position: absolute;
<<<<<<< HEAD
  top: 90%;
  /*top: 60%;*/
=======
  top: 60%;
>>>>>>> a615e284e4896812134a973b767c6d3c5c5f301b
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px !important;
  height: auto;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.lung-damaged {
  position: absolute;
<<<<<<< HEAD
  top: 90%;
  /*top: 60%; */
=======
  top: 60%;
>>>>>>> a615e284e4896812134a973b767c6d3c5c5f301b
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px !important;
  height: auto;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lung-damaged.show {
  opacity: 1 !important;
}

.reset-button {
  width: 100%;
  margin-top: 10px;
  padding: 12px 15px;
  background-color: rgba(1, 128, 105, 0.521);
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reset-button:hover {
  background-color: rgba(1, 128, 105, 0.521);
  border-color: #ccc;
}

.reset-button:active {
  background-color: #e8e8e8;
<<<<<<< HEAD
=======
}

.description-box {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  padding: 20px;
  background-color: rgb(23, 179, 140, 0.3);
  border: 1px solid #17b683;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.description-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}

.description-box p {
  margin: 0;
  color: #000000;
  font-size: 14px;
  line-height: 1.6;
>>>>>>> a615e284e4896812134a973b767c6d3c5c5f301b
}