
/* Lung positioning styles */
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
  position: relative;
  min-height: 100vh;
}

.lung {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px !important;
  height: auto;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.lung-damaged {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px !important;
  height: auto;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lung-damaged.show {
  opacity: 1 !important;
}

.reset-button {
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  background-color: rgba(1, 128, 105, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.reset-button:hover {
  background-color: rgba(1, 128, 105, 0.521);
  border-color: #ccc;
}

.reset-button:active {
  background-color: #e8e8e8;
}

.description-box {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  padding: 20px;
  background-color: rgba(134, 241, 179, 0.5);
  border: rgb(62, 125, 104) solid 2px;
  border-radius: 10%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.description-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(62, 125, 104);
  font-size: 20px;
}

.description-box p {
  margin: 0;
}